<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{theme}"
>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12 m-b-30">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">CloudDocsSign</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="text-center">
                                <img th:src="@{/images/icon/logo_cloud.png}" />
                            </div>
                            <h3 class="text-center">Welcome to CloudDocsSign</h3>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>